/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}


html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body {
	margin: 50px;
	width: 80%;
}
.container nav a{
	width: 9%
}
.container nav a {
	display: inline-block;
	text-decoration: none;
	color: grey;
	padding: 20px;
	
}
.container img {
	display: inline-block;
}



.title1 {
	display: inline-block;
	font-size: 125px;
	text-align: center;
	width: 500px;
	height: 500px;
	margin: 50px;
	padding: 50px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	
}
	
.main-header img {
	display: inline-block;
	height: 500px;
	width: 500px;
	margin-left: 200px;
	margin-top: 75px;
	
}
button {
	background: white;
	border: solid black 1px;
	width: 160px;
	height: 30px;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition-duration: .7s;
	margin: 
}
.button:hover {
	background-color: lightgrey;
	
}

section .main-header {
	border-bottom: solid black 2px;
	align-content: center;
	margin-bottom: 25px;
	padding-bottom: 45px;
}

.main-header
section .main-body {
	border-bottom: solid black 2px;
	align-content: center;
	margin-bottom: 25px;
	padding-bottom: 45px;
}




.main-body .features {
	display: inline-block;
	width: 49%;
	height: 20px;
	padding: 25px;
}

.main-body .about {
	display: inline-block;
	width: 49%;
	height: 20px;
	padding: 25px;
}

.main-body .services {
	display: inline-block;
	width: 33%;
	height: 20px;
	padding: 25px;
}
.main-body .product {
	display: inline-block;
	width: 33%;
	height: 20px;
	padding: 25px;
}
.main-body .vision {
	display: inline-block;
	align-content: center;
	width: 33%;
	height: 20px;
	padding: 25px;
}
.main-body img {
	display: inline-block;
	align-content: center;
	margin: 20px;
	width: 95%;
	height: 150px;
}

section .contact {
	display: inline-block;
	width: 200px;
	height: 20px;
	padding: 25px;
}

div.copyright {
	text-align: center;
	width: 100%;
}
